:root {
  --main-brown-01: #f3efed;
  --main-brown-02: #e8dfdd;
  --main-brown-03: #e5e0dd;
  --main-brown-04: #b8aaa7;
  --red: #ff2525;
  --white: #ffffff;
  --black: #000000;
  --heart: #ffa2a4;
  --gray-01: #7b7b7b;
  --gray-02: #d5d5d5;
}